{% macro render_toc_level(items) %}
    <ul>
        {% for item in items %}
            <li>
                <a href="{{ item.permalink | safe }}">{{ item.title }}</a>
                {# If the current header has sub-headers, call the macro again #}
                {% if item.children %}
                    {{ macros_toc::render_toc_level(items=item.children) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro docs_toc(page, current_section) %}
  <nav class="docs-toc d-none d-xxl-block" aria-label="Secondary navigation">
      <div class="toc-resize-handle"></div>
      <div class="page-links">
        <div>
          <h3>On this page</h3>
          <nav id="TableOfContents">
              {# Kick off the recursion with the top-level TOC items #}
              {% if page.toc %}
                  {{ macros_toc::render_toc_level(items=page.toc) }}
              {% endif %}
          </nav>
        </div>
        
        {% if config.extra.page_graph %}
            {{ macros_docs_graph::docs_graph(page=page, current_section=current_section) }}
        {% endif %}
      </div>
  </nav>
{% endmacro %}