{% macro render_nested_section(subsubsubsection) %}
<div class="collapsible-section"><div>{{ subsubsubsection.extra.sidebar | safe }}</div></div>
<div class="collapsible-wrapper">
	<ul class="list-unstyled">
	{% for page in subsubsubsection.pages %}
		<li><a class="docs-link{% if current_url == page.permalink %} active{% endif %}" href="{{ page.permalink | safe }}">{{ page.title | safe }}  {% if page.extra.is_excalidraw == "True" %} <code> Excalidraw </code> {% endif %} </a></li>
	{% endfor %}
	{% if subsubsubsection.subsections %}
		{% for s in subsubsubsection.subsections %}
			{% set subsubsubsubsection = get_section(path=s) %}
			{% if subsubsubsubsection.pages | length > 0 or subsubsubsubsection.subsections | length > 0 %}
				{{macros_sidebar::render_nested_section(subsubsubsection=subsubsubsubsection)}}
			{% endif %}
		{% endfor %}
	{% endif %}
	</ul>
</div>
{% endmacro %}

{% macro docs_sidebar(current_section) %}
<div class="docs-sidebar">
	<nav class="docs-links" aria-label="Main navigation">
		{% set index_path = current_section ~ "/_index.md" | trim_start_matches(pat="/") %}
		{% set index = get_section(path=index_path) %}
		{% if index.pages %}
			<div class="collapsible-section"><div>{{index.title}}</div></div>
			<div class="collapsible-wrapper">
				<ul class="list-unstyled">
				{% for page in index.pages %}
					<li><a class="docs-link{% if current_url == page.permalink %} active{% endif %}" href="{{ page.permalink | safe }}">{{ page.title }}  {% if page.extra.is_excalidraw == "True" %} <code> Excalidraw </code> {% endif %}</a></li>
				{% endfor %}
				</ul>
			</div>
		{% endif %}
		{% if index.subsections %}
			{% for s in index.subsections %}
				{% set subsection = get_section(path=s) %}
				{% if subsection.pages | length > 0 or subsection.subsections | length > 0 %}
					<div class="collapsible-section"> <div>{{ subsection.extra.sidebar | safe }} </div></div>
					<div class="collapsible-wrapper">
						<ul class="list-unstyled">
						{% if subsection.subsections %}
							{% for s in subsection.subsections %}
								{% set subsubsection = get_section(path=s) %}
								{% if subsubsection.pages | length > 0 or subsubsection.subsections | length > 0 %}
									<div class="collapsible-section"> <div>{{ subsubsection.extra.sidebar | safe }} </div></div>
									<div class="collapsible-wrapper">
										<ul class="list-unstyled">
										{% for page in subsubsection.pages %}                           
											<li><a class="docs-link{% if current_url == page.permalink %} active{% endif %}" href="{{ page.permalink | safe }}">{{ page.title | safe }}  {% if page.extra.is_excalidraw == "True" %} <code> Excalidraw </code> {% endif %}</a></li>
										{% endfor %}
										{% if subsubsection.subsections %}
											{% for s in subsubsection.subsections %}
												{% set subsubsubsection = get_section(path=s) %}
												{% if subsubsubsection.pages | length > 0 or subsubsubsection.subsections | length > 0 %}
													{{macros_sidebar::render_nested_section(subsubsubsection=subsubsubsection)}}
												{% endif %}
											{% endfor %}
										{% endif %}			
										</ul>
									</div>
								{% endif %}
							{% endfor %}
						{% endif %}
						{% for page in subsection.pages %}
							<li><a class="docs-link{% if current_url == page.permalink %} active{% endif %}" href="{{ page.permalink | safe }}">{{ page.title | safe }}  {% if page.extra.is_excalidraw == "True" %} <code> Excalidraw </code> {% endif %}</a></li>
						{% endfor %}
						</ul>
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	</nav>
</div>
{% endmacro %}